<ul class="mdn-Accordion mdn-Accordion--default">
  <li class="mdn-Accordion-box">
    <button
      class="mdn-Accordion-toggle"
      aria-expanded="false"
      aria-controls="accordion-panel-0"
      id="accordion-21-header-0"
    >
      <p class="mdn-Text mdn-Text--body mdn-Text--md text-accordion">
        <span class="mdn-Text mdn-Text--body mdn-Text--lg mdn-Text--bold">1</span>
        Escolha o plano
      </p>
      <span class="mdn-Accordion-icon mdn-Icon-baixo mdn-Icon--md"></span>
    </button>
    <div
      class="mdn-Accordion-content"
      id="accordion-panel-0"
      role="region"
      aria-labelledby="accordion-21-header-0"
      aria-hidden="true"
    >
      <p class="mdn-Text mdn-Text--body">
        No final do dia, daqui para frente, um novo normal que evoluiu.
      </p>
    </div>
  </li>
  <li class="mdn-Accordion-box">
    <button
      class="mdn-Accordion-toggle"
      aria-expanded="false"
      aria-controls="accordion-panel-1"
      id="accordion-21-header-1"
    >
      <p class="mdn-Text mdn-Text--body mdn-Text--md text-accordion">
        <span class="mdn-Text mdn-Text--body mdn-Text--lg mdn-Text--bold">2</span>
        Pedido com portabilidade
      </p>
      <span class="mdn-Accordion-icon mdn-Icon-baixo mdn-Icon--md"></span>
    </button>
    <div
      class="mdn-Accordion-content"
      id="accordion-panel-1"
      role="region"
      aria-labelledby="accordion-21-header-1"
      aria-hidden="true"
    >
      <p class="mdn-Text mdn-Text--body">
        No final do dia, daqui para frente, um novo normal que evoluiu.
      </p>
    </div>
  </li>
  <li class="mdn-Accordion-box">
    <button
      class="mdn-Accordion-toggle"
      aria-expanded="false"
      aria-controls="accordion-panel-2"
      id="accordion-21-header-2"
    >
      <p class="mdn-Text mdn-Text--body mdn-Text--md text-accordion">
        <span class="mdn-Text mdn-Text--body mdn-Text--lg mdn-Text--bold">3</span>
        Entrega do chip comum ou chip virtual (eSIM)
      </p>
      <span class="mdn-Accordion-icon mdn-Icon-baixo mdn-Icon--md"></span>
    </button>
    <div
      class="mdn-Accordion-content"
      id="accordion-panel-2"
      role="region"
      aria-labelledby="accordion-21-header-2"
      aria-hidden="true"
    >
      <p class="mdn-Text mdn-Text--body">
        No final do dia, daqui para frente, um novo normal que evoluiu.
      </p>
    </div>
  </li>

  <li class="mdn-Accordion-box">
    <button
      class="mdn-Accordion-toggle"
      aria-expanded="false"
      aria-controls="accordion-panel-2"
      id="accordion-21-header-2"
    >
      <p class="mdn-Text mdn-Text--body mdn-Text--md text-accordion">
        <span class="mdn-Text mdn-Text--body mdn-Text--lg mdn-Text--bold">4</span>
        Número provisório
      </p>
      <span class="mdn-Accordion-icon mdn-Icon-baixo mdn-Icon--md"></span>
    </button>
    <div
      class="mdn-Accordion-content"
      id="accordion-panel-2"
      role="region"
      aria-labelledby="accordion-21-header-2"
      aria-hidden="true"
    >
      <p class="mdn-Text mdn-Text--body">
        No final do dia, daqui para frente, um novo normal que evoluiu.
      </p>
    </div>
  </li>

  <li class="mdn-Accordion-box">
    <button
      class="mdn-Accordion-toggle"
      aria-expanded="false"
      aria-controls="accordion-panel-2"
      id="accordion-21-header-2"
    >
      <p class="mdn-Text mdn-Text--body mdn-Text--md text-accordion">
        <span class="mdn-Text mdn-Text--body mdn-Text--lg mdn-Text--bold">5</span>
        Portabilidade
      </p>
      <span class="mdn-Accordion-icon mdn-Icon-baixo mdn-Icon--md"></span>
    </button>
    <div
      class="mdn-Accordion-content"
      id="accordion-panel-2"
      role="region"
      aria-labelledby="accordion-21-header-2"
      aria-hidden="true"
    >
      <p class="mdn-Text mdn-Text--body">
        No final do dia, daqui para frente, um novo normal que evoluiu.
      </p>
    </div>
  </li>
</ul>
