<div class="swiper mdn-Swiper mdn-Swiper--default" id="0">
  <div class="swiper-wrapper mdn-Swiper-wrapper mdn-CardGroup">
    @for (aparelho of aparelhos; track aparelho.nome; let i = $index) {
      <div
        class="swiper-slide mdn-Swiper-slide"
        [attr.data-swiper-slide-index]="i"
        role="group"
        aria-label="2 / 5"
        style="margin-right: 12px"
      >
        <div
          class="mdn-Card mdn-Card--default ecm-card-device mdn-u-pb-xs-3 js-product-click js-device-card-container js-devices-card-planos mdn-is-initialized"
          data-mondrian-checker-status="isIgnored"
          data-link-redirect="/celulares/samsung-galaxy-a06-5g-128gb-preto/p/000000000000019166"
          data-product-name="SAMSUNG GALAXY A06 5G 128GB"
          data-automation="product-000000000000019166"
        >
          <input type="hidden" name="productCodePost" value="000000000000019166" />
          <input type="hidden" name="productName" value="SAMSUNG GALAXY A06 5G 128GB" />
          <input type="hidden" name="productPrice" value="564" />
          <input type="hidden" name="productBrand" value="Samsung" />
          <input type="hidden" name="productCategory" value="devices" />
          <input
            type="hidden"
            name="productCategoryGA4"
            value="/celulares/samsung-galaxy-a06-5g-128gb-preto/p/000000000000019166"
          />
          <input
            type="hidden"
            name="plan-category"
            value="controle"
            data-mondrian-checker-status="isIgnored"
          />

          <div class="mdn-Card-top mdn-Card-top--public">
            <div class="mdn-Card-top-header">
              <ul class="mdn-Card-top-header-tags">
                <div
                  class="stamp secondary mdn-u-sizeFull"
                  data-automation="product-seal-secondary"
                >
                  <ul
                    class="mdn-u-flex mdn-u-flexJustifyStart mdn-u-flexAlignItemsCenter mdn-u-flexWrap"
                  >
                    <li>
                      <img
                        class="stamp-image"
                        src="https://planoscelular.claro.com.br/medias/selo-secundario-5G.png?context=bWFzdGVyfGltYWdlc3w4OTB8aW1hZ2UvcG5nfGFEY3pMMmhsWWk4eE1EUTVORGt5TXpBeE5ERTNOQzl6Wld4dkxYTmxZM1Z1WkdGeWFXOHROVWN1Y0c1bnxiNzdhYjFhZTRkYmEyMmZjMGY2OGE1NTcwODIzZmJkZDJlMmU0OWQxMmRjMTA1NDcyNmY5OWU2NjA1YWFmZjZk"
                        alt=""
                      />
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
            <div class="mdn-Card-top-main mdn-u-posRelative">
              <div class="mdn-u-posRelative">
                <picture
                  data-automation="product-img"
                  aria-hidden="false"
                  style="width: 262px; height: 209.6px"
                  class="mdn-Image mdn-Image--5-4 mdn-is-initialized"
                >
                  <img
                    loading="lazy"
                    class="mdn-Image-asset"
                    src="https://planoscelular.claro.com.br/medias/515Wx515H-productMain-19070-zero.png?context=bWFzdGVyfGltYWdlc3wyODU2NTh8aW1hZ2UvcG5nfGFHUmtMMmd6TlM4eE1ESTBPRFEzTlRZd056QTNNQzgxTVRWWGVEVXhOVWhmY0hKdlpIVmpkRTFoYVc1Zk1Ua3dOekJmZW1WeWJ5NXdibWN8ZTg1NDViOGZlOWVmODg5OTAyZjc3YjJmZmVlOTJjOWQ1MTU5MTkxZjRiZWZkMmExY2U2NTYyMmU4MmExYWE3NQ"
                    alt="SAMSUNG GALAXY A06 5G 128GB"
                  />
                </picture>
              </div>

              <div>
                <p
                  class="mdn-Text mdn-Text--body mdn-Text--sm mdn-Card-top-main-description mdn-Text--medium mdn-is-initialized product-manufacturer"
                  data-automation="product-manufacturer"
                >
                  Samsung
                </p>
                <div class="mdn-Card-top-main-title">
                  <p class="mdn-Heading mdn-Heading--md" data-automation="product-name">
                    GALAXY A06 5G 128GB
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            data-automation="product-focus-plan"
            class="mdn-Card-middle mdn-u-w-100 mdn-u-mt-xs-auto mdn-u-marginTop--auto"
          >
            <ul class="mdn-Card-middle-list">
              <li class="mdn-Card-middle-list-item mdn-u-posRelative">
                <p
                  class="mdn-Text mdn-Text--body mdn-Text--sm mdn-Text--bold mdn-u-textCenter mdn-is-initialized"
                >
                  No Plano
                </p>
                <div class="tooltip-container">
                  <p class="mdn-u-flex mdn-u-alignItems-xs-center">
                    <strong
                      class="mdn-Text mdn-Text--body mdn-Text--md mdn-Text--bold mdn-is-initialized"
                      >Controle&nbsp;35GB</strong
                    >
                  </p>
                </div>
              </li>
            </ul>
          </div>

          <div class="mdn-Card-bottom">
            <div class="mdn-Card-bottom-price">
              <div class="mdn-Card-bottom-price-in">
                <div class="mdn-Price mdn-u-mw-100">
                  <p
                    class="mdn-Text mdn-Text--body mdn-Text--xs mdn-Text--bold mdn-u-textCenter mdn-is-initialized"
                    data-automation="product-full-price"
                  >
                    De <s>R$&nbsp;1.514,00</s> por apenas
                  </p>
                  <div
                    class="mdn-Price-main mdn-u-flexJustifyCenter"
                    data-automation="product-price"
                  >
                    <span
                      class="mdn-Price-main-currency mdn-Text mdn-Text--body mdn-Text--md mdn-Text--bold mdn-u-m-xs-0 mdn-is-initialized"
                    >
                      R$</span
                    >
                    <span
                      class="mdn-Price-main-price mdn-Heading mdn-Heading--lg mdn-Heading--LineHeightSm"
                      >549</span
                    >
                    <span
                      class="mdn-Price-main-cents mdn-Text mdn-Text--body mdn-Text--md mdn-Text--bold mdn-u-posRelative mdn-is-initialized"
                      ><span>,</span>00</span
                    >
                  </div>
                  <p
                    class="mdn-Text mdn-Text--body mdn-Text--sm mdn-is-initialized"
                    data-automation="product-installments"
                  >
                    à vista ou em 21x de&nbsp;R$&nbsp;26,86
                  </p>
                </div>
              </div>
            </div>

            <div class="mdn-Card-bottom-actions">
              <a
                data-analytics-custom-section="planos_claro_celular:home"
                data-analytics-custom-title="samsung_galaxy_a06_5g_128gb:eu_quero"
                data-analytics-event-name="clique"
                class="mdn-Button mdn-Button--global mdn-Button--md mdn-Button--block gtm-link-event mdn-is-initialized"
                label="Button global"
                href="/celulares/samsung-galaxy-a06-5g-128gb-preto/p/000000000000019166"
                data-automation="checkout"
              >
                Eu quero!</a
              >
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  <div class="mdn-Swiper-pagination-custom">
    <div class="mdn-Swiper-button-prev mdn-Swiper-button-prev-0">
      <i aria-hidden="true" class="mdn-Icon-esquerda mdn-Icon--lg"></i>
    </div>
    <div class="mdn-Swiper-button-next mdn-Swiper-button-next-0">
      <i aria-hidden="true" class="mdn-Icon-direita mdn-Icon--lg"></i>
    </div>
  </div>
</div>
