<div class="swiper mdn-Swiper mdn-Swiper--bullets banner-carrossel" id="7">
  <div class="swiper-wrapper mdn-Swiper-wrapper">
    <div class="swiper-slide mdn-Swiper-slide" data-swiper-slide-index="0">
      <div>
        <img
          class="banner-claro"
          src="https://planoscelular.claro.com.br/medias/MPM-15-1.JPG?context=bWFzdGVyfHJvb3R8MTgxOTQ1fGltYWdlL2pwZWd8YURjMUwyZ3hNQzh4TURVNE16QTNORGc1TnprMU1DOU5VRTB0TVRWLU1TNUtVRWN8M2YxYWU2ZjAxN2M2YjBhMzVhNzg5NzM4MTA1NmNhYTM2MTcwYzIyNzNiNmVjMTYzNjRlYjExNzM5OWQ3MmE4Zg"
          alt=""
        />
      </div>
    </div>

    <div class="swiper-slide mdn-Swiper-slide" data-swiper-slide-index="0">
      <div>
        <img
          class="banner-claro"
          src="https://planoscelular.claro.com.br/medias/mpm-1440-ecomm-dez25-multi-sem-oferta-banner-desk.jpg?context=bWFzdGVyfHJvb3R8MTgwMjIzfGltYWdlL2pwZWd8YURFMEwyZ3lZaTh4TURVMU5UVXdPRGs0TVRjNU1DOXRjRzB0TVRRME1DMWxZMjl0YlMxa1pYb3lOUzF0ZFd4MGFTMXpaVzB0YjJabGNuUmhMV0poYm01bGNpMWtaWE5yTG1wd1p3fGI0OGY3MWRiNzczOWUwNmRmZDZhOWU0Njg1ZTM0NDJkMDgyZGJiYWRjYTEwODVmYTk4YjQ3NzJiYjNjZDk0NjI"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="mdn-Swiper-pagination mdn-Swiper-pagination-7"></div>
</div>
