<header class="mdn-Menu mdn-Menu mdn-Menu--public">
  <div class="mdn-Menu-top">
    <div class="mdn-Container">
      <nav class="mdn-Menu-top-content">
        <ul class="mdn-Menu-top-list mdn-Menu-top-list-left">
          <li
            class="mdn-Menu-top-list-item mdn-Menu-top-list-item-segment mdn-Menu-top-segment-is-active"
          >
            <button class="mdn-Menu-top-event">
              <span class="mdn-Text mdn-Text--body">Para você</span>
            </button>
          </li>
          <li
            class="mdn-Menu-top-list-item mdn-Menu-top-list-item-segment mdn-Menu-top-list-item-segment-menu"
          >
            <button class="mdn-Menu-top-event mdn-Menu-top-segment-action">
              <span class="mdn-Text mdn-Text--body">Para empresa</span
              ><span
                class="mdn-Icon-baixo mdn-Icon--sm"
                aria-label="baixo"
                aria-hidden="true"
              ></span>
            </button>
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-segment">
            <a href="#" class="mdn-Menu-top-event"
              ><span class="mdn-Text mdn-Text--body">Pequenas e médias empresas</span></a
            >
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-segment">
            <a href="#" class="mdn-Menu-top-event"
              ><span class="mdn-Text mdn-Text--body">Grandes empresas e Governo</span></a
            >
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-location">
            <button
              class="mdn-Menu-top-event mdn-Modal--handler"
              title="Os preços e promoções referem-se a cidade de São Paulo / SP. Se desejar, clique para alterar a cidade."
              data-mdn-modal-id="cities-modal"
            >
              <span class="mdn-Icon-localizacao mdn-Icon--md" aria-hidden="true"></span
              ><span class="mdn-Text mdn-Text--body">São Paulo / SP</span>
            </button>
          </li>
        </ul>
        <ul class="mdn-Menu-top-list mdn-Menu-top-list-right">
          <li
            class="mdn-Menu-top-list-item mdn-Menu-top-list-item--full mdn-Menu-top-list-item-search"
          >
            <div class="mdn-Menu-top-action-container">
              <button
                class="mdn-Input-action-mobile mdn-Menu-top-event mdn-Menu-top-action"
                type="button"
                aria-expanded="false"
                title="Como podemos ajudar?"
              >
                <span class="mdn-Icon-busca mdn-Icon--md" aria-hidden="true"></span>
              </button>
              <form
                class="mdn-Menu-search-container"
                action="https://www.claro.com.br/busca"
                method="GET"
                aria-label="Busque o que deseja e pressione o a tecla Enter para obter o resultado. Como podemos te ajudar?"
              >
                <div class="mdn-Input-fieldset">
                  <input
                    placeholder="Busca"
                    name="pesquisa"
                    class="mdn-Input-field mdn-Menu-search-action mdn-Menu-search-action--api"
                    aria-label="Insira um texto para busca"
                    required=""
                    type="text"
                    data-mdn-type="search"
                  />
                  <button
                    class="mdn-Menu-top-event mdn-Input-search-action mdn-Input-search"
                    title="Busque por algo"
                    type="submit"
                  >
                    <span class="mdn-Icon-busca mdn-Icon--xxs" aria-hidden="true"></span>
                  </button>
                </div>
                <button
                  class="mdn-Input-action-close-full mdn-Menu-top-event mdn-Menu-top-action mdn-Button mdn-Button--icon mdn-Button--secondary"
                  type="button"
                  title="Fechar busca"
                  aria-label="fechar"
                >
                  <em class="mdn-Icon-fechar mdn-Icon--xxs" aria-hidden="true"></em>
                </button>
              </form>
            </div>
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-accessibility">
            <a class="mdn-Menu-top-event" tag="a" aria-label="pcd" href="#" icon="pcd"
              ><span class="mdn-Icon-pcd mdn-Icon--sm" aria-hidden="true"></span
            ></a>
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-accessibility">
            <button class="mdn-Menu-top-event" tag="button" aria-label="libras" icon="libras">
              <span class="mdn-Icon-libras mdn-Icon--sm" aria-hidden="true"></span>
            </button>
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-accessibility">
            <button
              class="mdn-Menu-top-event"
              tag="button"
              aria-label="contraste"
              icon="alto-contraste"
            >
              <span class="mdn-Icon-alto-contraste mdn-Icon--sm" aria-hidden="true"></span>
            </button>
          </li>
          <li class="mdn-Menu-top-list-item mdn-Menu-top-list-item-accessibility">
            <button
              class="mdn-Menu-top-event mdn-Modal--handler"
              title="Modal Zoom texto"
              data-mdn-modal-id="modal-accessibility-zoom"
            >
              <span
                class="mdn-Icon-diminuir-tamanho mdn-Icon--sm mdn-Menu-text-icon"
                aria-hidden="true"
              ></span
              ><span
                class="mdn-Icon-aumentar-tamanho mdn-Icon--sm mdn-Menu-text-icon"
                aria-hidden="true"
              ></span>
            </button>
          </li>
          <li
            class="mdn-Menu-top-list-item mdn-Menu-top-list-item--full mdn-Menu-top-list-item-country-list"
          >
            <div class="mdn-Menu-top-action-container">
              <button
                class="mdn-Input-action-close-full mdn-Menu-top-event mdn-Menu-top-action mdn-Button mdn-Button--icon mdn-Button--secondary"
                type="button"
                title="Fechar busca"
                aria-label="fechar"
              >
                <em class="mdn-Icon-fechar mdn-Icon--xxs" aria-hidden="true"></em>
              </button>
              <button class="mdn-Menu-top-event mdn-Menu-top-action" aria-expanded="false">
                <span class="mdn-Menu-list-country-list-flag">
                  <img
                    class="mdn-Image"
                    loading="lazy"
                    src="https://mondrian.claro.com.br/brands/flags-amx/sm/brasil.svg"
                    alt="Brasil"
                  /> </span
                ><span class="mdn-Icon-baixo mdn-Icon--sm" aria-hidden="true"></span>
              </button>
              <div
                class="mdn-Menu-top-action-target mdn-Menu-top-action-target--full mdn-Menu-country-list-container"
              >
                <ul class="mdn-Menu-country-list">
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.ar/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/argentina.svg"
                          alt="Argentina"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Argentina</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.clarochile.cl/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/chile.svg"
                          alt="Chile"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Chile</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.cr/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/costa-rica.svg"
                          alt="Costa Rica"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Costa Rica</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.sv/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/el-salvador.svg"
                          alt="El Salvador"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">El Salvador</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.usclaro.com/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/estados-unidos.svg"
                          alt="Estados Unidos"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Estados Unidos</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.hn/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/honduras.svg"
                          alt="Honduras"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Honduras</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.pa/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/panama.svg"
                          alt="Panamá"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Panamá</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.pe/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/peru.svg"
                          alt="Peru"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Peru</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.do/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/republica-dominicana.svg"
                          alt="Rep. Dominicana"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Rep. Dominicana</p>
                    </a>
                  </li>
                </ul>
                <ul class="mdn-Menu-country-list">
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.br/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/brasil.svg"
                          alt="Brasil"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Brasil</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="http://www.claro.com.co/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/colombia.svg"
                          alt="Colômbia"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Colômbia</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="http://www.claro.com.ec/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/equador.svg"
                          alt="Equador"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Equador</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.es/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/espanha.svg"
                          alt="Espanha"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Espanha</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.gt/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/guatemala.svg"
                          alt="Guatemala"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Guatemala</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.ni/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/nicaragua.svg"
                          alt="Nicarágua"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Nicarágua</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.py/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/paraguai.svg"
                          alt="Paraguai"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Paraguai</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claropr.com/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/porto-rico.svg"
                          alt="Porto Rico"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Porto Rico</p>
                    </a>
                  </li>
                  <li class="mdn-LinkList-item">
                    <a
                      class="mdn-Link mdn-LinkList-anchor"
                      target="_self"
                      href="https://www.claro.com.uy/"
                    >
                      <div class="mdn-flags-icon">
                        <img
                          class="mdn-Image"
                          aria-hidden="true"
                          src="https://mondrian.claro.com.br/brands/flags-amx/sm/uruguai.svg"
                          alt="Uruguai"
                        />
                      </div>
                      <p class="mdn-Text mdn-Text--body">Uruguai</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="mdn-Menu-main">
    <div class="mdn-Container">
      <nav class="mdn-Menu-content">
        <div class="mdn-Menu-content-left">
          <button
            class="mdn-Menu-main-event mdn-Menu-mobile-action"
            title="Abrir ou fechar subMenu"
          >
            <i class="mdn-Icon-menu mdn-Icon--md mdn-Menu-mobile-icon mdn-Menu-mobile-icon-menu"></i
            ><i
              class="mdn-Icon-fechar mdn-Icon--md mdn-Menu-mobile-icon mdn-Menu-mobile-icon-fechar"
            ></i></button
          ><a class="mdn-Menu-logo-link" href="#" title="Click e confira a página">
            <img
              class="mdn-Menu-logo"
              src="https://mondrian.claro.com.br/brands/horizontal/inverse/claro.svg"
              alt="Logo da Claro"
            />
          </a>
          <ul class="mdn-Menu-list mdn-Menu-mobile-action-target">
            <li class="mdn-Menu-list-item">
              <div class="mdn-Menu-list-item-link">
                <button
                  class="mdn-Menu-main-event mdn-Menu-main-action"
                  aria-expanded="false"
                  type="button"
                >
                  <span class="mdn-Text mdn-Text--body mdn-Text--medium">Home</span
                  ><i class="mdn-Icon-direita mdn-Icon--md"></i>
                </button>
              </div>

              <div class="mdn-Menu-list-item-link">
                <button
                  class="mdn-Menu-main-event mdn-Menu-main-action"
                  aria-expanded="false"
                  type="button"
                >
                  <span class="mdn-Text mdn-Text--body mdn-Text--medium">Celulares</span
                  ><i class="mdn-Icon-direita mdn-Icon--md"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="mdn-Menu-content-right">
          <ul class="mdn-Menu-list">
            <li class="mdn-Menu-list-item mdn-Menu-list-item-button">
              <div class="mdn-Menu-list-item-link mdn-Menu-list-item-link-button">
                <button
                  title="Contrate"
                  class="mdn-Button mdn-Button--global mdn-Button--sm mdn-Menu-main-event mdn-Menu-main-action"
                >
                  <!-- -->Contrate
                </button>
              </div>
              <div class="mdn-Menu-subMenu">
                <ul class="mdn-Menu-subMenu-list mdn-Menu-shortcut">
                  <li class="mdn-Menu-subMenu-list-item">
                    <div class="mdn-Menu-shortcut-hat">
                      <p class="mdn-Text mdn-Text--caption">Contrate online de forma rápida:</p>
                    </div>
                    <ul class="mdn-Menu-shortcut-list">
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-celular mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 1</span></a
                        >
                      </li>
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-residencial mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 2</span></a
                        >
                      </li>
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-residencial mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 3</span></a
                        >
                      </li>
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-celular mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 4</span></a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="mdn-Menu-subMenu-list-item">
                    <div class="mdn-Menu-shortcut-hat">
                      <p class="mdn-Text mdn-Text--caption">Contrate online de forma rápida:</p>
                    </div>
                    <ul class="mdn-Menu-shortcut-list">
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-celular mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 1</span></a
                        >
                      </li>
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-residencial mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 2</span></a
                        >
                      </li>
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-residencial mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 3</span></a
                        >
                      </li>
                      <li class="mdn-Menu-shortcut-list-item">
                        <a href="#" class="mdn-Menu-shortcut-list-item-link"
                          ><i class="mdn-Icon mdn-Icon-celular mdn-Icon--md"></i
                          ><span class="mdn-Text">Card 4</span></a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </li>
            <li class="mdn-Menu-list-item mdn-Menu-list-item-button">
              <div class="mdn-Menu-list-item-link mdn-Menu-list-item-link-button">
                <button
                  title="Minha Claro"
                  class="mdn-Button mdn-Button--primaryInverse mdn-Button--sm mdn-Menu-main-event mdn-Menu-main-action"
                >
                  <!-- -->Minha Claro
                </button>
              </div>
              <div class="mdn-Menu-subMenu">
                <ul class="mdn-Menu-subMenu-list">
                  <li class="mdn-Menu-subMenu-list-item">
                    <div class="mdn-Menu-shortcut">
                      <ul class="mdn-Menu-shortcut-list">
                        <li class="mdn-Menu-shortcut-list-item">
                          <a href="#" class="mdn-Menu-shortcut-list-item-link"
                            ><i class="mdn-Icon mdn-Icon-celular mdn-Icon--md"></i
                            ><span class="mdn-Text">Minha Claro móvel</span></a
                          >
                        </li>
                        <li class="mdn-Menu-shortcut-list-item">
                          <a href="#" class="mdn-Menu-shortcut-list-item-link"
                            ><i class="mdn-Icon mdn-Icon-residencial mdn-Icon--md"></i
                            ><span class="mdn-Text">Minha Claro residencial</span></a
                          >
                        </li>
                        <li class="mdn-Menu-shortcut-list-item">
                          <a href="#" class="mdn-Menu-shortcut-list-item-link"
                            ><i class="mdn-Icon mdn-Icon-residencial mdn-Icon--md"></i
                            ><span class="mdn-Text">Minha Claro residencial</span></a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<div id="modal-accessibility-zoom" class="mdn-Modal mdn-Menu-modal-accessibility-zoom false">
  <div class="mdn-Modal-content mdn-Modal--sm">
    <div class="mdn-Modal-body">
      <div class="mdn-Text mdn-Text--body">
        <div>
          Para aumentar ou reduzir a fonte, utilize os atalhos nativos do seu navegador:
          <br />
          <ul>
            <li>
              <span class="mdn-Icon-verificado mdn-Icon--sm" aria-hidden="true"></span>No
              windows <strong>CTRL</strong>+ (para aumentar) e <strong>CTRL</strong>
              <!-- -->- (para diminuir)
            </li>
            <li>
              <span class="mdn-Icon-verificado mdn-Icon--sm" aria-hidden="true"></span>No macOS
              (safari) <strong>CMD</strong>+ (para aumentar) e <strong>CMD</strong>- (para diminuir)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mdn-Modal-footer">
      <div class="mdn-Modal-footer-end">
        <button class="mdn-Button mdn-Button--primary mdn-Button-close">Ok</button>
      </div>
    </div>
  </div>
</div>
<div id="cities-modal" class="mdn-Modal mdn-Menu-modal mdn-cities-modal false">
  <div class="mdn-Modal-content">
    <div class="mdn-Modal-header">
      <button
        class="mdn-Button-header-close mdn-Button mdn-Button--icon mdn-Button--secondary"
        aria-label="Close modal"
      >
        <i class="mdn-Icon-fechar mdn-Icon--sm"></i>
      </button>
    </div>
    <div class="mdn-Modal-body">
      <div class="mdn-Container">
        <div
          class="mdn-Topic mdn-Topic--horizontal mdn-Topic--sm"
          style="margin-bottom: var(--theme-spacing-stack-xs)"
        >
          <div class="mdn-Topic-symbol">
            <span aria-hidden="true" class="mdn-Icon-localizacao mdn-Icon--md"></span>
          </div>
          <p class="mdn-Topic-description">Você está em São Paulo/SP.</p>
        </div>
        <div class="mdn-Input">
          <div class="mdn-Input mdn-Input--actionLeft">
            <button class="mdn-Input-action mdn-Input-action--left">
              <em aria-hidden="true" class="mdn-Icon-busca mdn-Icon--md" aria-label="Search"></em>
            </button>
            <input
              id="input__682991"
              class="mdn-Input-field"
              type="text"
              data-mdn-type="search"
              value=""
            />
            <label for="input__682991" class="mdn-Input-label">Search</label>
            <button
              class="mdn-Input-action"
              data-mdn-action="clear-field"
              role="button"
              style="display: none"
            >
              <em aria-hidden="false" class="mdn-Icon-fechar mdn-Icon--md" aria-label="Search"></em>
            </button>
            <small class="mdn-Input-errorFeedback"
              ><span
                class="mdn-Icon-circulo-exclamacao mdn-Icon--sm"
                aria-label="circulo-exclamacao"
              ></span
              ><em class="mdn-Icon-circulo-exclamacao mdn-Icon--sm"></em> Por favor, preencha este
              campo corretamente.</small
            >
          </div>
        </div>
        <div class="mdn-Menu-Modal-locations">
          <p class="mdn-Heading mdn-Heading--xs">Cidades mais acessadas.</p>
          <p class="mdn-Text mdn-Text--body">
            Não encontrou sua cidade? Faça uma busca no campo acima.
          </p>
          <ul class="mdn-Menu-modal-content-list-itens">
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Aracaju, SE</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Belém, PA</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Belo Horizonte, MG</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Boa Vista, RR</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Brasília, DF</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Campo Grande, MS</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Cuiabá, MT</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Curitiba, PR</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Florianópolis, SC</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Fortaleza, CE</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Goiânia, GO</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >João Pessoa, PB</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Macapá, AP</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Maceió, AL</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Manaus, AM</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Natal, RN</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Palmas, TO</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Porto Alegre, RS</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Porto Velho, RO</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Recife, PE</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Rio Branco, AC</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Rio de Janeiro, RJ</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Salvador, BA</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >São Luís, MA</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >São Paulo, SP</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Teresina, PI</a
              >
            </li>
            <li class="mdn-Menu-modal-content-list-item">
              <a class="mdn-Link" data-test-id="linkWithClass" href="#" title="your title"
                >Vitória, ES</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
